#main {
    background-image: url('image/demo.png');
}

#judul {
    text-align: center;
}

#kartu {
    background-image: url('../image/demo.png');
    width: 595px;
    height: 835px;
    border: 1px solid;
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
}

.block {
    display: block;
    width: 44%;
    border: none;
    background-color: #ffb703;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .block:hover {
    background-color: #ddd;
    color: blue;
  }
